__pycache__/app.cpython-311.pyc
__pycache__/functions.cpython-311.pyc
build/PDF-anki/Analysis-00.toc
build/PDF-anki/base_library.zip
build/PDF-anki/EXE-00.toc
build/PDF-anki/PDF-anki.exe.manifest
build/PDF-anki/PDF-anki.pkg
build/PDF-anki/PKG-00.toc
build/PDF-anki/PYZ-00.pyz
build/PDF-anki/PYZ-00.toc
build/PDF-anki/warn-PDF-anki.txt
build/PDF-anki/xref-PDF-anki.html
build/PDF-anki/localpycs/pyimod01_archive.pyc
build/PDF-anki/localpycs/pyimod02_importers.pyc
build/PDF-anki/localpycs/pyimod03_ctypes.pyc
build/PDF-anki/localpycs/pyimod04_pywin32.pyc
build/PDF-anki/localpycs/struct.pyc
dist/PDF-anki.exe
